    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px;
        background-color: #101528;
        color:  #F4BF7D;
        ;
    }
    .header{
        font-size: 60px;
        text-align: center;
        padding: 30px;
    }

    .text{
        color: #FFECD4;
    
    }

    .text-main{
        color: #FFECD4;
        background-color: #101528;
        text-align: center;
        width: calc(100% / 1.7);
    }

    .story{
        text-align: center;
        color: white;
        font-size: 35px;
    }

    .content{
        justify-content: center;
    }

    .NM-neo{
        background-color: #0F0F1C;
        width: 100%;
        padding: 35px;
        
    }

    .NM-method{
        margin: auto;
        width: 75%;
        border: 1px solid #BBE2F9;
        background-color:#A2B8E352;
        border-radius:20px ;
        padding: 40px;
    }

    
    .text {
        font-size: 20px;
        padding-left: 20px;
        align-content: center;
    }

    .text-elements{
        color: white;
    }
 


    

.callback-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* We provide two choices for sessions */
.NM-container{
    height: 32em;
    padding: 20px;
    background-color: #101324;
    
}
.sessions-Box{
    height: 305px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 150px 30px 150px;
    padding: 20px;
    color: white;
    /* border: 1px SOLID #6c6969; */
    border: 2px solid #383838;
    border-radius: 35px;
  
    
}
.session-1{
    height: 225px;
    width: 73em;
    padding: 25px;
    margin: 40px;
    background-color: #283E66;
    border-radius: 20px;    
}
.session-2{
    height: 225px;
    width: 73em;
    padding: 25px;
    margin: 40px; 
    background-color: #283E66;
    border-radius: 20px;
}
.NM-container h1{
    font-size: 1.75rem;
    padding-top: 40px;
    font-weight: revert-layer;
}
.NM-container button{
    margin-left: 120px;  
}

.onsite-btn {
    padding-top: 48px;
    padding-left: 15px;
}